z-canje {

  .card{
        background-color:color($colors, light);
    }
    
    .titulo22{
        font-weight:bold;
    }

    .porautorizar{
        color:red;
    }

    .autorizado{

    }

    .rechazado{
        
    }
}